<div class="proficiency proficiency_@proficiency">
    <div class="score">
        Score
    </div>
    <div class="value">
        @proficiency
    </div>
</div>


@code {
    [Parameter]
    public int proficiency { get; set; }
}