@using Resume2023.Data
@using Resume2023.Models
@using Resume2023.Components.Dumb
<Panel show=@show>
    <div class="header">
        <MySkillProficiency proficiency=@skill.Proficiency></MySkillProficiency>
        <h1>@skill.Name</h1>
    </div>
    <div class="section">
        <div class="label">
            <h3>Detail</h3>
        </div>
        <div class="details">
            @(skill.Description ?? "No Description")
        </div>
    </div>
    <div class="experiences section">
        <h3>Experiences</h3>
        @foreach (var experience in Experiences.GetBySkill(skill.Name))
        {
            <MyExperience experience=@experience></MyExperience>
        }
    </div>
</Panel>


@code {
    [Parameter]
    public Skill skill { get; set; } = new Skill();

    [Parameter]
    public bool show { get; set; } = false;
}