<div class="timeline">
    <div>2000 - </div>
    <div>2001 - </div>
    <div>2002 - </div>
    <div>2003 - </div>
    <div>2004 - </div>
    <div>2005 - </div>
    <div>2006 - </div>
    <div>2007 - </div>
    <div>2008 - </div>
    <div>2009 - </div>
    <div>2010 - </div>
    <div>2011 - </div>
    <div>2012 - </div>
    <div>2013 - </div>
    <div>2014 - </div>
    <div>2015 - </div>
    <div>2016 - </div>
    <div>2017 - </div>
    <div>2018 - </div>
    <div>2019 - </div>
    <div>2020 - </div>
    <div>2021 - </div>
</div>